<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tiles_warehouse_closure>
            <general>
                <enabled>0</enabled>
                <message_text></message_text>
                <message_bold>0</message_bold>
                <link_url></link_url>
                <link_text></link_text>
                <background_color>#ffcc00</background_color>
                <text_color>#000000</text_color>
                <start_datetime></start_datetime>
                <end_datetime></end_datetime>
            </general>
        </tiles_warehouse_closure>
    </default>
</config>
